# Node modules
backend/node_modules/
CookrAppFinal/node_modules/
**/node_modules/

# Env files
backend/.env
.env

# Expo cache
.expo/
.expo-shared/

# System junk
.DS_Store
Thumbs.db

# Logs
npm-debug.log
yarn-error.log
